#hero #toggle-dark-mode {
  //SUN div
  position: absolute;
  cursor: pointer;
  top: -70px;
  right: -70px;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  //Sun style
  background-image: radial-gradient(#ffffff, #ffffc0, #ffd900);
  background-size: calc(100% + 18px);
  background-position: center;
  transition: all 0.5s ease;
  animation: sun 5s linear 0s infinite;

  .clickme {
    opacity: 0;
    position: relative;
    top: 200px;
    font-size: large;
    color: rgb(184, 48, 172);
    font-weight: bold;
    animation: blinky 2.6s ease-in-out 3.5s 1;
  }

  @keyframes blinky {
    100%,
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    35% {
      opacity: 0.9;
    }
    45% {
      opacity: 0;
    }
    60% {
      opacity: 0.9;
    }
  }
  @include respond(tab-port) {
    right: -25%;
    top: -20%;
  }
  @include respond(phone) {
    right: -40%;
    top: -34%;
    transform: scale(1.5);
  }
  @include respond(phone-xs) {
    transform: scale(1.5);
    right: -20%;
    top: -40%;
  }
}

@keyframes sun {
  0%,
  100% {
    box-shadow: -30px 30px 800px 100px #ffd900;
    filter: brightness(1.6);
    filter: contrast(1.2);
    filter: saturate(1);
  }
  35% {
    box-shadow: -30px 30px 6500px 160px #ffee8f;
    filter: brightness(1.3);
    filter: contrast(1.4);
    filter: saturate(1.4);
  }
  70% {
    box-shadow: -30px 30px 800px 100px #ffd000;
    filter: brightness(1.5);
    filter: contrast(1.2);
    filter: saturate(1.1);
  }
}

.dark #hero {
  //   star background
  box-shadow: -30px 30px 1000px rgb(232, 252, 255);
  background: transparent;

  /* Video Background */
  .video-background {
    visibility: visible;
  }
}

.dark #hero #toggle-dark-mode {
  //MOON div
  background-image: url("./assets/moon_leftface.png");
  background-position: center;
  background-size: calc(100% + 18px);
  box-shadow: -30px 30px 1000px rgba(232, 252, 255, 0.7);
  transform: scale(0.75);
  top: 10px;
  right: 30px;
  animation: unset;

  @include respond(tab-port) {
    right: -10%;
    top: -3%;
    transform: scale(0.5) rotateZ(-30deg);
  }
  @include respond(phone) {
    box-shadow: -30px 30px 1000px rgba(232, 252, 255, 0.99);
    right: -40%;
    top: -34%;
    transform: scale(1.7);
  }
  @include respond(phone-xs) {
    transform: scale(1.5);
    right: -20%;
    top: -40%;
  }
}

#hero {
  transition: all 0.5s ease;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: var(--c-background);
  font-weight: 400;
  color: var(--c-dark-text);
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;

  /* Video Background */
  .video-background {
    visibility: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: auto;
    z-index: -1;

    @include respond(tab-land) {
      transform: scale(1.5) translate(-25%, -25%);
    }
    @include respond(tab-port) {
      transform: scale(2) translate(-25%, -25%);
    }
    @include respond(phone) {
      transform: scale(4) translate(-25%, -25%);
    }
    @include respond(phone-xs) {
      transform: scale(6) translate(-25%, -25%);
    }
  }

  video {
    transition: all 0.5s ease;
    size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title,
  .hero-subtitle,
  .hero-subsubtitle {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .underline-text {
    text-decoration: underline;
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
