#hero {
    transition: all 0.5s ease;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0px;
    background: var(--c-background);
    font-weight: 400;
    color: var(--c-dark-text);
    padding: 0rem 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;

    /* Video Background */
    .video-background {
        visibility: hidden;
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
        left: 0;
        width: 100%;
        height: auto;
        z-index: -1;

        @include respond (tab-land){
                transform: rotateZ(90deg) scale(calc(16 / 9));
                height: auto;
                top: 25%;
                width: 100%;
        }

    }
    // SUN / MOON
    #toggle-dark-mode {
        position: absolute;
        cursor: pointer;
        right: 5%;
        bottom: 75%;

        width: 300px;
        height: 300px;
        border-radius: 100%;
        //Sun style
        background-image: radial-gradient(#ffffff, #ffffc0, #ffdf28);
        box-shadow: -30px 30px 300px 60px #ffff7587;
        background-size: calc(100% + 18px);
        background-position: center;
        animation: sun 8s ease-in-out 2s infinite;
        transition: all 0.3s ease;
        z-index: 10;

        .clickme {
            visibility: hidden;
            position: relative;
            font-size: large;
            color: rgb(255, 255, 255);
            background-color: #ffdf28;
            padding: 10px;
            width: fit-content;
            filter: invert(100);
            top: 60%;
            font-weight: bold;
            animation: blinky 2s ease-in-out 3.5s 1;

            @include respond(tab-port) {
                transform: scale(0.8);
                right: 0;
                top: 75%;
            }

            @include respond(phone-xs) {
                transform: scale(0.5);
                right: 0;
                top: 85%;
            }
        }

        @include respond(tab-port) {
            left: 50%;
            transform: translate(-50%, -25%);
        }

        @include respond(phone) {
            top: -20%;
        }


    }

    @include respond(phone) {
        padding: 0rem $default-font-size;
    }

    .hero-title,
    .hero-subtitle {
        font-size: 5.6rem;
        font-weight: 700;
        margin-bottom: 3.2rem;
        text-align: left;

        @include respond(tab-land) {
        font-size: 4rem;
        }
        @include respond(tab-port) {
        font-size: 3.6rem;
        text-align: center;
        }
        @include respond(phone) {
        font-size: 3.5rem;
        line-height: 1.5;
        }
        @include respond(phone-xs) {
        font-size: 2.8rem;
        }

        .hero-title {
            margin-top: 30px;
        }
    }

    .underline-text {
        text-decoration: underline;
    }

    .hero-cta {
        display: flex;

        @include respond(tab-port) {
        justify-content: center;
        }

        & a {
        font-size: 2.4rem;

        @include respond(phone) {
            font-size: 2rem;
        }
        }
    }
}

// DARK MODE
.dark #hero {
    box-shadow: 0 0 15rem 5px rgb(232, 252, 255);
    background: transparent;
    transition: all 0.3s ease;
    /* Video Background */
    .video-background {
        visibility: visible;
    }

    // Poster on mobile - save user data
    @include respond (phone) {
        transition: all 0.3s ease;
        background: url('./assets/stars.jpg');
        background-size: cover;
    }
    @include respond (phone-xs) {
        transition: all 0.3s ease;
        background: url('./assets/stars.jpg');
        background-size: cover;
    }

    #toggle-dark-mode {
        //MOON div
        background-image: url("./assets/moon_leftface.png");
        background-size: calc(100% + 18px);
        box-shadow: 0 0 10rem 5px rgba(232, 252, 255, 0.7);
        animation: unset;
        transform: translateY(25%);

        @include respond(tab-port) {
            // compensate for scale change with calc
            transform: scale(0.75) translate(calc(50% * 1.25) * -1, 2%);
        }

        @include respond(phone) {
            box-shadow: 0 30px 10rem 10px rgba(232, 252, 255, 0.7);
        }

        @include respond(phone-xs) {
            
        }
    }

}

@keyframes sun {

    0%,
    100% {
        box-shadow: none;
        filter: unset;
        box-shadow: -30px 30px 300px 60px #ffd20caf;
    }
    15% {
        box-shadow: -30px 30px 300px 60px #ffff7dda;
        filter: brightness(1) contrast(1.2) saturate(1.3);
    }

    40% {
        box-shadow: -30px 30px 600px 100px #ffd35bd0;
        filter: brightness(1.4) contrast(1.2) saturate(0.9);
    }

    70% {
        box-shadow: -30px 30px 900px 60px #dca72ce4;
        filter: brightness(1.1) contrast(1.2) saturate(1.1);
    }
}

@keyframes blinky {

    
    0% {
        visibility: visible;
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    35% {
        opacity: 0.9;
    }

    45% {
        opacity: 0;
    }

    60% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
    }
}