#hero #toggle-dark-mode {
  position: absolute;
  top: -70px;
  right: -70px;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  //Sun style
  background-image: radial-gradient(#ffffff, #ffffc0, #ffd900);
  background-size: calc(100% + 18px);
  background-position: center;
  transition: all 0.5s ease;
  animation: sun 5s linear 0s infinite;
}

@keyframes sun {
  0%,
  100% {
    box-shadow: -30px 30px 5000px #ffd900;
    filter: brightness(1.6);
    filter: contrast(1.2);
    filter: saturate(1);
  }
  35% {
    box-shadow: -40px 40px 600px #ffd900;
    filter: brightness(1.3);
    filter: contrast(1.4);
    filter: saturate(1.4);
  }
  70% {
    box-shadow: -40px 40px 500px #ffd900;
    filter: brightness(1.5);
    filter: contrast(1.2);
    filter: saturate(1.1);
  }
}

.dark #hero {
  //   star background
  box-shadow: -30px 30px 1000px rgb(232, 252, 255);
  background: transparent;

  /* Video Background */
  .video-background {
    visibility: visible;
  }
}

.dark #hero #toggle-dark-mode {
  //   moon style
  background-image: url("./assets/moon_leftface.png");
  background-position: center;
  background-size: calc(100% + 18px);
  box-shadow: -30px 30px 1000px rgb(232, 252, 255);
  //   background-color: rgb(232, 252, 255);
  transform: scale(0.75);
  top: 10px;
  right: 30px;
  animation: unset;
}

#hero {
  transition: all 0.5s ease;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: var(--c-background);
  font-weight: 400;
  color: var(--c-dark-text);
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;

  /* Video Background */
  .video-background {
    visibility: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100vw;
    z-index: -1;
  }

  video {
    transition: all 0.5s ease;
    size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // Set position sticky so the jumbotron stays fixed while you scroll.
  //   position: sticky;

  // If you want to set a background image on the hero section, uncomment these with your custom image

  //   background: url("./assets/profile.jpg");
  //   background-position: center;
  //   background-size: cover;

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title,
  .hero-subtitle,
  .hero-subsubtitle {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .underline-text {
    text-decoration: underline;
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
