html {
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden;
  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
  background-color: black;
}
