html {
  font-size: 62.5%;
    overflow-x: hidden;

  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: black;
}
