@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:wght@400;700&display=swap");

h1 {
  font-weight: 700;
}

p,
a {
  font-family: "Montserrat", sans-serif;
  font-size: $default-font-size;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin: 0px;
  margin-bottom: 4.5rem;
  font-size: $big-font-size;
  font-weight: 400;
  text-transform: uppercase;

  @include respond(phone) {
    font-size: 2.8rem;
  }
}

.dark-blue-text {
  color: var(--c-dark-text) !important;
}

.text-color-main {
  @include supportColorForIE11();

  @include respond(phone) {
    background-image: none;
    -webkit-text-fill-color: var(--c-secondary);
  }

  &:hover {
    filter: hue-rotate(360deg);
    transition: all 5s ease;
  }
}
