// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

:root {
  /** LIGHT THEME */

  /* Base Colors */
  // COLORS
  $background: #fff5d1;

  // --------

  $primary: #146356;
  $link: #91da74;
  $secondary: #a3da8d;

  $contrast: #fffcf0;

  $dark-grey: #f3c892;
  $light-grey: #d2d2d2;

  $dark-text: #146356;

  /* Other Colors */
  --c-background: #{$background};
  --c-primary: #{$primary};
  --c-secondary: #{$secondary};
  --c-link: #{$link};
  --c-contrast: #{$contrast};
  --c-dark-grey: #{$dark-grey};
  --c-light-grey: #{$light-grey};
  --c-dark-text: #{$dark-text};
}

/** DARK THEME */

@media (prefers-color-scheme: dark) {
  :root {
    /** LIGHT THEME */

    /* Base Colors */
    // COLORS
    $background: black;

    // --------

    $primary: red;
    $link: yellow;
    $secondary: purple;

    $contrast: green;

    $dark-grey: #555;
    $light-grey: #777;

    $dark-text: blue;

    /* Other Colors */
    --c-background: #{$background};
    --c-primary: #{$primary};
    --c-secondary: #{$secondary};
    --c-link: #{$link};
    --c-contrast: #{$contrast};
    --c-dark-grey: #{$dark-grey};
    --c-light-grey: #{$light-grey};
    --c-dark-text: #{$dark-text};
  }
}
