// COLORS
$primary-color: #146356;
$link-color: #91da74;
$secondary-color: #a3da8d;

$hero-color: #fff5d1;
$white-color: #fffcf0;

$dark-grey: #f3c892;
$light-grey: #d2d2d2;

$dark-blue-text: #146356; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
