// COLORS
$primary-color: #e45826;
$link-color: #f0a500;
$secondary-color: blue;

$hero-color: #1b1a17;
$white-color: #fffcf0;

$dark-grey: #e6d5b8;
$light-grey: #d2d2d2;

$dark-blue-text: #e45826; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

:root {
  /** LIGHT THEME */

  /* Base Colors */
  // COLORS
  $background: #fff5d1;

  // --------

  $primary: #146356;
  $link: #91da74;
  $secondary: #a3da8d;

  $contrast: #fffcf0;

  $dark-grey: #f3c892;
  $light-grey: #d2d2d2;

  $dark-text: #146356;

  /* Other Colors */
  --c-background: #{$background};
  --c-primary: #{$primary};
  --c-secondary: #{$secondary};
  --c-link: #{$link};
  --c-contrast: #{$contrast};
  --c-dark-grey: #{$dark-grey};
  --c-light-grey: #{$light-grey};
  --c-dark-text: #{$dark-text};
}

/** DARK THEME */

@media (prefers-color-scheme: dark) {
  :root {
    /* Base Colors*/
    // COLORS
    $primary-color: #e45826;
    $link-color: #f0a500;
    $secondary-color: blue;

    $hero-color: #1b1a17;
    $white-color: #fffcf0;

    $dark-grey: #e6d5b8;
    $light-grey: #d2d2d2;

    $dark-blue-text: #e45826; // For Headings

    /* Other Colors */
    --c-background: #{$c-dark};
    --c-pageborder: #{$c-darker};
  }
}
