/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem $default-font-size;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

/* Hero Style */
.cta-btn--hero {
  @include supportColorForIE11();
  border: 2px solid transparent;
  border-image: linear-gradient(
    135deg,
    var(--c-primary-color) 0%,
    var(--c-secondary-color) 100%
  );
  border-image-slice: 1;
  @include supportIE11() {
    color: var(--c-secondary) !important;
    &:hover {
      color: var(--c-background) !important;
      //
    }
  }

  @include respond(phone) {
    background-image: none;
    border: 2px solid var(--c-secondary);
    -webkit-text-fill-color: var(--c-secondary);
  }

  &::after {
    background-image: linear-gradient(
      135deg,
      var(--c-primary-color) 0%,
      var(--c-secondary-color) 100%
    );

    @include respond(phone) {
      background-image: none;
    }
  }

  &:hover {
    -webkit-text-fill-color: var(--c-background);
    //
    text-decoration: none;

    @include respond(phone) {
      -webkit-text-fill-color: var(--c-secondary);
    }

    &::after {
      width: 100%;
    }
  }
}

/* Resume Style */
.cta-btn--resume {
  color: var(--c-background);
  border: 2px solid var(--c-background);

  &::after {
    background: var(--c-contrast);
  }

  &:hover {
    color: var(--c-secondary);
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }
}

/* Arrow Button */
.up i {
  color: #272727;
}
