.footer {
  background-color: var(--c-dark-grey);
  color: var(--c-contrast);
  padding: 1rem 0;

  @include respond(phone) {
    border: 0px;
  }

  &__text {
    color: var(--c-primary);
    font-size: 1.3rem;

    a {
      color: var(--c-primary);
      font-size: 1.3rem;
      transition: all 0.4s;
      display: inline-block;
      background-color: var(--c-dark-grey);

      &:hover,
      &:active {
        transform: translateX(10px) scale(1.2);
      }
    }
  }

  & hr {
    margin: 1rem auto;
    border: 0;
    width: 50%;
    border-top: 2px solid grey;
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--c-primary-color);
    font-size: 2.5rem;
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    transition: all 0.2s ease-in;

    &:hover {
      transform: translateY(-2px);
    }
  }
}

.back-to-top i {
  color: var(--c-contrast);
  margin: 0.5rem 0;
  transition: all 0.2s ease-in;

  &:hover {
    transform: translateY(-2px);
  }
}
