@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/mixins";
@import "./sass/abstracts/variables";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/sections";

@import "./sass/sections/about";
@import "./sass/sections/contact";
@import "./sass/sections/hero";
@import "./sass/sections/projects";


body.dark{
    --c-background: #{$background-d};
    --c-primary: #{$primary-d};
    --c-secondary: #{$secondary-d};
    --c-link: #{$link-d};
    --c-contrast: #{$contrast-d};
    --c-dark-grey: #{$dark-grey-d};
    --c-light-grey: #{$light-grey-d};
    --c-dark-text: #{$dark-text-d};
      --c-background-alt: #{$background-alt-d};
}

body.light{
    --c-background: #{$background};
    --c-primary: #{$primary};
    --c-secondary: #{$secondary};
    --c-link: #{$link};
    --c-contrast: #{$contrast};
    --c-dark-grey: #{$dark-grey};
    --c-light-grey: #{$light-grey};
    --c-dark-text: #{$dark-text};
    --c-background-alt: #{$background-alt};
}